$breakpoints: (
  'mobile': 390px,
  'tablet': 768px,
  'desktop': 1280px,
  'wide': 1440px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin respond-below($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: ($value - 1px)) {
      @content;
    }
  }
}
